---
import type { FlatEntry } from '../data/showcase';
import SpriteStrip from './SpriteStrip.astro';

type Props = {
  entries: FlatEntry[];
};

const { entries } = Astro.props;
---

<div class="variant-grid">
  <SpriteStrip entries={entries} label="All grouped sprite forms" />
</div>
